<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kernchen.spotmymood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".spotmymood.helper.FailedImageView"
            android:label="@string/title_activity_failed_image_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".spotmymood.EmotionDetectActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spotmymood.helper.CameraHelperActivity"
            android:label="@string/select_an_image" />
        <activity android:name=".spotmymood.EmotionResultActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kernchen.spotmymood.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>